.homepage {
  display: flex;
  align-items: center;
  min-height: 200px;
}


.armImage {
	filter: var(--directorate-filter-black);

  height: 80%;
  width: auto;

  position: fixed;
  bottom: 0;
  right: 5%;

  transform: rotate(90deg);

  user-select: none;
	pointer-events: none;

  transform-origin: bottom left;
  animation: rotateUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  @media (max-width: 600px) {
    opacity: 0.15;
    bottom: 0;
  }
}

.armImageRed {
  right: 4%;
  bottom: -2%;
  z-index: -2;

  opacity: 0.66;

  animation: rotateUp 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  filter: var(--directorate-filter-red);

  @media (max-width: 600px) {
    display: none;
  }
}

.armImageOrange {
  right: 3%;
  bottom: -4%;
  z-index: -3;

  opacity: 0.33;

  animation: rotateUp 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;

  filter: var(--directorate-filter-orange);

  @media (max-width: 600px) {
    display: none;
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 2rem;

  width: 60%;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.intro {
  text-align: left;
  font-size: 1.2rem;

  margin: 0;
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features p {
  text-align: left;
  margin-bottom: 0;
}